{% extends 'base.html' %}

{% block title %}Page Not Found{% endblock %}

{% block main %}

<div class="text-center mt-5 bg-danger text-white">
    <h1>Page Not Found</h1>
    <p class="h3">We couldn't find what you are looking for. Come visit our homepage :)</p>
</div>
<!-- Both will work..
<p><a href="/">Home</a></p> -->
    <ul class="nav nav-pills">
        <li class="nav-item">
        <a class="nav-link active" style="margin-left: 630px;" href="{{ url_for('urlshort.home') }}">Home</a>
        </li>
    </ul>
{% endblock %}